@page
@model IndexModel
@{
    // tu zmienić
    ViewData["Title"] = "Home page";
}

<div class="container col-xxl-8 px-4 py-5">
    <div class="row align-items-center g-5 py-5">
        <div class="col-12 col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">
                Bloggie - The Dev Blog
            </h1>
            <p class="lead">
                Blogiie is the home to coding blogs covering a vest range of
                tpopiccs like HTML, CSS, Javascript, ASP.NET, C#, etc.
                Want to read the lastest dev articles? Join the bloggie and get weekly blogs right
                in your email
            </p>
        </div>
        <div class="col-12 col-lg-6">
            <img src="https://images.pexels.com/photos/285814/pexels-photo-285814.jpeg?auto=compress&cs=tinysrgb&w=1600" alt=""
                 class="d-block mx-lg-auto img-fluid">
        </div>
    </div>
</div>

