@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> signInManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - CarRental.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CarRental.Web.styles.css" asp-append-version="true"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">

    <link href="https://cdn.jsdelivr.net/npm/froala-editor@latest/css/froala_editor.pkgd.min.css" rel="stylesheet" type="text/css"/>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/froala-editor@latest/js/froala_editor.pkgd.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow">
        <div class="container">
            <a class="navbar-brand" asp-area="" asp-page="/Index">CarRental.Web</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Index">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Privacy">Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/Blog/BlogMainPage">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-light" asp-area="" asp-page="/CarOffers/CarOffersMain">Cars</a>
                    </li>

                    @if (signInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                    {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" area-expanded="false" id="navbarDropdownAdmin">
                                Admin
                            </a>
                            <ul class="dropdown-menu" area-lebelledby="navbarDropdownAdmin">
                                <li>
                                    <a class="dropdown-item" href="/admin/blogs/add">Add Blog Post</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/blogs/list">Display list of blogs</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/users/index">Display list of users</a>
                                </li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle text-light" href="#" role="button" data-bs-toggle="dropdown" area-expanded="false" id="navbarDropdownAdmin">
                                CarSection
                            </a>
                            <ul class="dropdown-menu" area-lebelledby="navbarDropdownAdmin">
                                <li>
                                    <a class="dropdown-item" href="/admin/caroffers/add">Add Car offer</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/caroffers/list">Display list of Car offers</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" href="/admin/carorders/list">Display list of orders</a>
                                </li>
                            </ul>
                        </li>
                    }
                </ul>
                <div class="d-flex align-items-center">
                    @if (signInManager.IsSignedIn(User))
                    {
                        <div class="me-3 text-light">
                            @User?.Identity?.Name
                        </div>

                        <a href="/logout" class="btn bg-light text-dark me-3">Logout</a>
                    }
                    else
                    {
                        <a href="/login" class="btn bg-light text-dark me-3">Login</a>
                        <a href="/register" class="btn bg-light text-dark me-3">Register</a>
                    }
                </div>
            </div>
        </div>
    </nav>
</header>
@* <div style="display: flex; flex-direction: column; justify-content: space-between"> *@
<main role="main">
    @RenderBody()
</main>
<footer class=" border-top footer">
    <div class="container py-5">
        <div class="row">
            <div class=" col mb-3">
                <h5 class="mb-3 d-block">About us</h5>
                <p class="text-wrap d-block">
                    Car rental company<br>
                    1234 Main Street<br>
                    Los Angeles, CA 90001<br>
                    United States
                </p>
                <div class="mt-4">
                    <button class="nav-link btn mb-2 border border-1 text-black" style="background-color: #f0f3f8;text-decoration: none; border-radius: 15px!important;">
                        <i class="bi bi-telephone me-2"></i>609544872
                    </button>
                    <button class="nav-link btn mb-2 border border-1 text-black" style="background-color: #f0f3f8;text-decoration: none; border-radius: 15px!important;">
                        <i class="bi bi-envelope me-2"></i>car.rental@gmail.com
                    </button>
                </div>
            </div>

            <div class=" col mb-3">
                <h5 class="text-center mb-3">Our Partners</h5>
                <div class="row justify-content-center">
                    <div class="col-6 d-flex justify-content-end mb-3">
                        <a href="#">
                            <img src="https://res.cloudinary.com/dpg94mnti/image/upload/v1685379456/obraz_2023-05-29_185733156_dyfrbc.png" width="100px" alt="">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#">
                            <img src="https://res.cloudinary.com/dpg94mnti/image/upload/v1685379535/obraz_2023-05-29_185852827_qs7nxt.png" width="100px" alt="">
                        </a>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-3">
                        <a href="#">
                            <img src="https://res.cloudinary.com/dpg94mnti/image/upload/v1685379643/obraz_2023-05-29_190040932_rjkoxy.png" width="100px" alt="">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#">
                            <img src="https://res.cloudinary.com/dpg94mnti/image/upload/v1685379967/obraz_2023-05-29_190605002_shsxwk.png" width="100px" alt="">
                        </a>
                    </div>
                    <div class="col-6 d-flex justify-content-end mb-3">
                        <a href="#">
                            <img src="https://res.cloudinary.com/dpg94mnti/image/upload/v1685380423/obraz_2023-05-29_191341300_hvjve2.png" width="100px" alt="">
                        </a>
                    </div>
                    <div class="col-6">
                        <a href="#">
                            <img src="https://res.cloudinary.com/dpg94mnti/image/upload/v1685379725/obraz_2023-05-29_190202721_xua3ya.png" width="100px" alt="">
                        </a>
                    </div>
                </div>
            </div>

            <div class=" col mb-3">
                <h5 class="mb-3 text-end">Social Media</h5>
                <ul class="nav flex-column fs-4 text-black">
                    <li class="nav-item mb-2 text-end">
                        <a href="#" class="nav-link p-0 text-black"><i class="bi-facebook me-2" width="24" height="24"></i>facebook</a>
                    </li>
                    <li class="nav-item mb-2 text-end">
                        <a href="#" class="nav-link p-0 text-black"><i class="bi-instagram me-2" width="24" height="24"></i>instagram</a>
                    </li>
                    <li class="nav-item mb-2 text-end">
                        <a href="#" class="nav-link p-0 text-black"><i class="bi-twitter me-2" width="24" height="24"></i>twitter</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="border-top">
        <div class="container py-4">
            <div class="d-flex flex-column flex-sm-row justify-content-between ">
                <div class="d-flex align-items-center">
                    <p class="mb-0">&copy; 2023 Company, Inc. All rights reserved.</p>
                </div>
                <ul class="list-unstyled d-flex align-items-center mb-0">
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#">
                            <i class="bi-twitter" width="24" height="24">
                                <use xlink:href="#twitter"/>
                            </i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#">
                            <i class="bi-instagram" width="24" height="24">
                                <use xlink:href="#instagram"/>
                            </i>
                        </a>
                    </li>
                    <li class="ms-3">
                        <a class="link-body-emphasis" href="#">
                            <i class="bi-facebook" width="24" height="24">
                                <use xlink:href="#facebook"/>
                            </i>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
@* </div> *@

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://kit.fontawesome.com/3700c855eb.js" crossorigin="anonymous"></script>

@await RenderSectionAsync("Scripts", false)
</body>
</html>